//Grids
.grid-center {
  width: auto;
  height: auto;
  display: grid;
  justify-items: center;
  align-items: center;
}

//Grid fills
.grid-fill {
  width: 100%;
  height: 100%;
}

.grid-fill-x {
  width: 100%;
}

.grid-fill-y {
  height: 100%;
}

//Flex box grids
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

//Content justification
.flex-center {
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-items: center;
}

.align-center {
  align-items: center;
}