//Nav vars
$button-color: #5a5f71;
$button-hover: #323646;

$ui-color: #494e67;
$ui-font-color: #edeaea;

//Main nav bar
#nav {
  height: 100%;
  min-width: 75px;
  width: 75px;
  box-shadow: 0 0 10px #0a0a14;
  background-color: $ui-color;
  z-index: 4;
}

#nav-logo {
  margin-top: 15px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 25px;
}

#nav-logo:hover {
  border-radius: 4px;
  background-color: $button-hover;
}

.nav-item {
  border-radius: 4px;
  display: table;
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: auto;
}

.nav-item:hover {
  background-color: $button-hover;
}

//Todo: Fix position in chrome
.nav-icon {
  display: table-cell;
  vertical-align: middle;
  margin-top: 1px;
  transform: scale(1.50);
  color: $ui-font-color;
}

//Repos
#repos {
  height: 100%;
  width: 325px;
  min-width: 325px;
  box-shadow: 0 0 10px #0a0a14;
  background-color: $ui-color;
  align-items: center;
  z-index: 3;
}

#repos-loading-icon {
  color: $ui-font-color;
}

#repos-loading-text {
  margin-top: 15px;
  color: $ui-font-color;
  font-size: 1.25em;
}

#repos-search {
  width: calc(100% - 25px);
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #323646;
  cursor: text;
}

#repos-search > svg {
  margin-top: 7px;
  margin-left: 10px;
  color: $ui-font-color;
}

#repos-search-box {
  border: none;
  background-color: $button-hover;
  width: calc(100% - 45px);
  margin-left: 5px;
  color: white;
}

#repos-search-box:focus {
  outline: none;
}

.repos-repo {
  width: calc(100% - 25px);
  height: 40px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: $button-color;
  line-height: 40px;
  color: $ui-font-color;
  cursor: pointer;
}

.repos-repo > span {
  margin-left: 10px;
}

.repos-repo:hover {
  background-color: $button-hover;
}

#repos-add {
  background-color: $button-color;
}

#repos-add:hover {
  background-color: $button-hover;
}

#repos-add > svg {
  margin-top: 7px;
  margin-left: 10px;
  color: $ui-font-color;
}

#nav-user {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 50%;
  background-color: $button-hover;
  cursor: pointer;
}

#nav-user > img {
  width: 50px;
  border-radius: 50%;
}

//User settings
#user-settings {
  position: fixed;
  width: 305px;
  left: 85px;
  bottom: 15px;
  border-radius: 3px;
  background-color: #202231;
  box-shadow: 0 0 10px black;
  z-index: 100;
}

#user-settings > span {
  color: $ui-font-color;
  margin: 10px 0;
  font-size: 1.25em;
  font-weight: 500;
  width: calc(100% - 20px);
  padding-bottom: 5px;
  text-align: center;
}

#user-settings > span {
  border-bottom: 1px solid $ui-font-color;
}

#user-api-key {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background-color: #202231;
  cursor: text;
  margin-bottom: 5px;
  padding: 5px 0;
}

#user-api-key:hover,
#user-api-key:hover *,
#user-api-key:focus-within,
#user-api-key *:hover,
#user-api-key *:focus {
  background-color: #13151f;
}

#user-api-key > svg {
  margin-top: 7px;
  margin-left: 10px;
  color: $ui-font-color;
}

#user-api-key-box {
  border: none;
  background-color: #202231;
  width: calc(100% - 45px);
  margin-left: 5px;
  color: white;
}

#user-api-key-box:focus {
  outline: none;
}

#user-settings-logout {
  width: 100%;
  color: $ui-font-color;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

#user-settings-logout:hover {
  background-color: #13151f;
}