$ui-font-color: #edeaea;

#stream-view {
  width: 100%;
  height: 100%;
  background-color: #0e0e1c;
  overflow-y: auto;
}

#stream-view::-webkit-scrollbar {
  width: 12px;
}

#stream-view::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  border-radius: 10px;
}

#stream-view::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.75);
}

#stream-connection {
  position: fixed;
  color: #1196d6;
  top: 10px;
  margin-left: 10px;
}

#stream-container {
  width: calc(100% - 70px);
  word-wrap: break-spaces;
  margin: 0 35px;
  text-align: left;
  overflow-x: hidden;
}

#stream-container p {
  margin: 10px 0;
}

#stream-container p span {
  word-wrap: break-spaces;
}

.stream-message {
  color: $ui-font-color
}

.stream-message-error {
  color: #ab1d1e;
}