$font-stack: 1em "Open Sans", Ubuntu, Sans-Serif;

//Global components
@import 'globals/grids';

//React components
@import 'components/login';
@import 'components/dashboard';
@import 'components/nav';
@import 'components/repo';

//General
html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: $font-stack;
  background-color: #1E1E28;
}